@model Final.Models.CajaDeAhorro


@{
    ViewData["Title"] = "Agregar Titular";
}

<h1>Agregar Titular</h1>

<h4>CajaDeAhorro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarTitular">
                @if (ViewBag.error != null)
            {
                @switch (ViewBag.error)
                {
                    case (1):
                        <p class="alert alert-danger">No se encontró un usuario con ese DNI.</p>
                        break;
                    case (2):
                        <p class="alert alert-danger">El usuario ya es titular de esta caja</p>
                        break;
                }
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="cbu" class="control-label">CBU</label>
                <input asp-for="cbu" class="form-control" readonly />
                <span asp-validation-for="cbu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label name="titular" class="control-label">Titulares</label>
                @foreach (var item in ViewBag.Titulares)
                {
                    <input name="titular @item" class="form-control" readonly placeholder="@item.nombre  @item.apellido" />
                }
            </div>
            @if (ViewBag.Admin == true)
            {
                <div class="form-group">
                    <label name="idUsuario" class="control-label">Usuarios</label>
                    <select name="idUsuario" class="form-control">
                        @foreach (var item in ViewBag.usuarios)
                        {
                            <option value="@item.id">Nombre: @item.nombre ; Apellido: @item.apellido</option>
                        }
                    </select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label name="idUsuario" class="control-label">Ingrese DNI</label>
                    <input name="idUsuario" type="number" class="form-control" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
