@model IEnumerable<Final.Models.CajaDeAhorro>

@{
    ViewData["Title"] = "Cajas de Ahorro";
}

<h1>Cajas</h1>
@if(ViewData["success"] != null){
    @switch(ViewData["success"]){
        case("1"):
        <p class="alert alert-success">La caja se creo con éxito</p>
        break;
        case("2"):
        <p class="alert alert-success">La caja se editó con éxito</p>
        break;
        case("3"):
        <p class="alert alert-success">La caja se eliminó correctamente</p>
        break;
        case("4"):
        <p class="alert alert-success">El depósito se realizó con éxito</p>
        break;
        case("5"):
        <p class="alert alert-success">Se retiró el monto deseado correctamente</p>
        break;
        case("6"):
        <p class="alert alert-success">La transferencia se realizó con éxito</p>
        break;
        case("7"):
        <p class="alert alert-success">Se agregó correctamente el titular</p>
        break;
        case("8"):
        <p class="alert alert-success">Se eliminó correctamente el titular</p>
        break;
    }
}
<p>
    <a asp-action="Create">Crear caja</a>    |    
    <a asp-action="Transferir">Transferir</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cbu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cbu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldo)
                </td>
                <td>
                    @if(ViewBag.Admin == true){
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> 
                    }|
                    <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Borrar</a> |
                    <a asp-action="Depositar" asp-route-id="@item.id">Depositar</a>|
                    <a asp-action="Retirar" asp-route-id="@item.id">Retirar</a> |
                    <a asp-action="AgregarTitular" asp-route-id="@item.id">Agregar Titular</a> |
                    <a asp-action="EliminarTitular" asp-route-id="@item.id">Eliminar Titular</a>
                </td>
            </tr>
        }
    </tbody>
</table>