@model IEnumerable<Final.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}

<h1>Pagos</h1>
@if(ViewData["success"] != null){
    @switch(ViewData["success"]){
        case("1"):
        <p class="alert alert-success">El pago se creo con éxito</p>
        break;
        case("2"):
        <p class="alert alert-success">El pago se editó con éxito</p>
        break;
        case("3"):
        <p class="alert alert-success">El pago se eliminó correctamente</p>
        break;
        case("4"):
        <p class="alert alert-success">El pago fue pagado con éxito</p>
        break;
    }
}
<p>
    <a asp-action="Create">Crear Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metodo)
            </td>
            <td>
                    @if (ViewBag.Admin == true)
                    {
                        <a asp-action="Edit" asp-route-id="@item.id">Editar</a>
                    } |
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a> |
                    <a asp-action="Pagar" asp-route-id="@item.id">Pagar</a> |
            </td>
        </tr>
}
    </tbody>
</table>
