@model Final.Models.Pago

@{
    ViewData["Title"] = "Pagar";
}

<h1>Pagar</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Pagar">
            @if (ViewBag.error != null)
            {
                <p class="alert alert-danger"> Usuario no encontrado</p>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="idMetodoDePago" class="control-label">Método de pago</label>
                <select name="idMetodoDePago" class="form-control">
                    @foreach (var item in ViewBag.cajas)
                    {
                        <option value="@item.id">CBU: @item.cbu | Saldo: @item.saldo</option>
                    }
                    @foreach (var item in ViewBag.tarjetas)
                    {
                        <option value="@item.id">Numero: @item.numero | Limite: @item.limite | Consumo: @item.consumo</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre</label>
                <input asp-for="nombre" class="form-control" readonly/>
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monto" class="control-label">Monto</label>
                <input asp-for="monto" class="form-control" readonly />
                <span asp-validation-for="monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pagar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
