@model IEnumerable<Final.Models.Tarjeta>

@{
    ViewData["Title"] = "Tarjetas";
}

<h1>Tarjetas</h1>
@if(ViewBag.success != null){
    @switch(ViewBag.success){
        case(1):
        <p class="alert alert-success">La tarjeta se creo con éxito</p>
        break;
        case(2):
        <p class="alert alert-success">La tarjeta se editó con éxito</p>
        break;
        case(3):
        <p class="alert alert-success">La tarjeta se eliminó correctamente</p>
        break;
        case(4):
        <p class="alert alert-success">La tarjeta se abonó con éxito</p>
        break;
    }
}
<p>
    <a asp-action="Create">Nueva tarjeta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titular)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.limite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titular.apellido)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> 
                <a asp-action="PagarTarjeta" asp-route-id="@item.id">Pagar </a>
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>

            </td>
        </tr>
}
    </tbody>
</table>
